# --- Core API & Web ---
flask
flask-cors
joblib

# --- Audio Processing ---
librosa
soundfile
opensmile
noisereduce

# --- Data Science & Models ---
numpy
pandas
scipy
scikit-learn
catboost
xgboost
lightgbm

# --- Deep Learning ---
tensorflow
torch
transformers
accelerate
bitsandbytes

# --- Huggingface Models ---
funasr

# --- Speech-to-Text ---
vosk
whisperx

# --- Utilities ---
tqdm
pyyaml
